{% extends 'base.html' %}

{% block title %}List of Users{% endblock %}

{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Entity Form</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Add Entity</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-dark">
          <div class="card-header">
            <h3 class="card-title">Add New Entity</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form action="{{ url_for('entity.entity_add', entity_id=entity[0] if entity else None) }}" method="POST" enctype="multipart/form-data">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="entity_code">Entity Code</label>
                    <input type="text" class="form-control" id="entity_code" name="entity_code" value="{{ entity[1] if entity else '' }}" placeholder="Define Entity Code" required>
                  </div>
                  <div class="form-group">
                    <label for="entity_name">Entity Name</label>
                    <input type="text" class="form-control" id="entity_name" name="entity_name" value="{{ entity[2] if entity else '' }}" placeholder="Masukkan Nama Entity" required>
                  </div>
                  <div class="form-group">
                    <label for="password">Logo</label>
                    <input type="file" id="logo" name="logo" accept="image/png, image/jpeg">
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-dark">Save</button>
              <a href="{{ url_for('entity.entity_list') }}" class="btn btn-danger" title="Back">Cancel</a>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

  {% endblock %}