{% extends 'base.html' %}

<!-- INHERETENCE SIDEBAR -->

<!--END INHERETENCE SIDEBAR -->

<!-- INHERETENCE CONTENT -->
{% block content %}

<!-- SCRIPT UNTUK COMA PADA NUMBER -->
<script>
  function formatNumber(num) {
      return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  document.addEventListener('DOMContentLoaded', (event) => {
      const input = document.getElementById('amount');

      input.addEventListener('input', (e) => {
          let value = input.value.replace(/,/g, '');
          if (!isNaN(value) && value !== '') {
              input.value = formatNumber(value);
          }
      });

      const form = document.querySelector('form');
      form.addEventListener('submit', (e) => {
          let value = input.value.replace(/,/g, '');
          input.value = value;
      });
  });
</script>
<!-- END SCRIPT UNTUK COMA PADA NUMBER -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Payment Request Form</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">PRF Input</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

<!-- Main FORM PR HEADER and PR DETAIL -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">PRF INPUT</h3>
          </div>
          <div class="card-body">
            <form action="{{ url_for('prf.prf_add') }}" method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Entity</label>
                    <select class="form-control select2bs4" name="entity" id="entity" style="width: 100%;" required>
                      <option value="">Select Entity ...</option>
                      {% for entity in entities %}
                      <option value="{{ entity[1] }}">{{ entity[2] }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Department</label>
                    <select class="form-control select2bs4" name="department" id="department" style="width: 100%;" required>
                      <option value="">Select Department ...</option>
                      {% for department in departments %}
                      <option value="{{ department[2] }}" data-entity-id="{{ department[1] }}">{{ department[3] }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="no_prf">Nomor PRF</label>
                    <input type="text" name="no_prf" id="no_prf" class="form-control" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Date</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                      <input type="date" name="request_date" class="form-control" />
                      <div class="input-group-append" data-target="#reservationdate" data-toggle="">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="vendor_name">Vendor</label>
                    <select class="form-control select2bs4" name="vendor_name" id="vendor_name" style="width: 100%;" required>
                        <option value="">Select Vendor ...</option>
                        {% for vendor in vendors %}
                        <option value="{{ vendor[0] }}" data-beneficiary-name="{{ vendor[1] }}" data-bank="{{ vendor[2] }}" data-no-rekening="{{ vendor[3] }}">
                            {{ vendor[0] }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="beneficiary_name">Benefeciery Name</label>
                    <input class="form-control" type="text" id="beneficiary_name" name="beneficiary_name" placeholder="Auto fill by select vendor ..." required>
                </div>
                
                <div class="form-group">
                    <label for="beneficiary_bank_name">Benefeciery Bank Name</label>
                    <input class="form-control" type="text" id="beneficiary_bank_name" name="beneficiary_bank_name" placeholder="Auto fill by select vendor ..." required>
                </div>
                
                <div class="form-group">
                    <label for="beneficiary_bank_number_account">Benefeciery Bank Number Account</label>
                    <input class="form-control" type="text" id="beneficiary_bank_number_account" name="beneficiary_bank_number_account" placeholder="Auto fill by select vendor ..." required>
                </div>
                  <div class="form-group">
                    <label for="swift_code_bank">Swift Code Bank</label>
                    <input class="form-control" type="text" id="swift_code_bank" name="swift_code_bank" placeholder="Enter ...">
                  </div>
                  <div class="form-group">
                    <label>Currency & Amount</label>
                    <div class="d-flex">
                        <select class="form-control select2bs4" name="currency" id="currency" style="width: 120px; margin-right: 10px;" required>
                            <option value="">Select...</option>
                            {% for currency in currencies %}
                            <option value="{{ currency[1] }}" data-entity-id="{{ currency[0] }}">{{ currency[0] }} ({{ currency[1] }})</option>
                            {% endfor %}
                        </select>
                        <input class="form-control" type="text" id="amount" name="amount" style="width: 350px; margin-left: 5px;" placeholder="0" required>
                    </div>
                </div>

                </div>
              </div>

              <!-- FORM PRF SUPPORTING DOCUMENT -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">SUPPORTING DOCUMENTS</h3>
                </div>
                <div class="card-body">
                  <div style="margin-bottom: 10px;">
                  </div>
                  <div class="form-group">
                    <label for="supporting_doc_aggreement">Agreement</label>
                    <input class="form-control" type="text" id="supporting_doc_aggreement" name="supporting_doc_aggreement" placeholder="Enter ..." style="width: 420px;">
                  </div>
                  <div class="form-group">
                    <label for="supporting_doc_quotation">Quotation</label>
                    <input class="form-control" type="text" id="supporting_doc_quotation" name="supporting_doc_quotation" placeholder="Enter ..." style="width: 420px;">
                  </div>
                  <div class="form-group">
                    <label for="supporting_doc_purchase">Purchase Order</label>
                    <input class="form-control" type="text" id="supporting_doc_purchase" name="supporting_doc_purchase" placeholder="Enter ..." style="width: 420px;">
                  </div>
                  <div class="form-group">
                    <label for="supporting_doc_invoice">Invoice/Receipt</label>
                    <input class="form-control" type="text" id="supporting_doc_invoice" name="supporting_doc_invoice" placeholder="Enter ..." style="width: 420px;">
                  </div>
                  <div class="form-group">
                    <label for="supporting_doc_faktur_pajak">Faktur Pajak</label>
                    <input class="form-control" type="text" id="supporting_doc_faktur_pajak" name="supporting_doc_faktur_pajak" placeholder="Enter ..." style="width: 420px;">
                  </div>
                  <div class="form-group">
                    <label for="supporting_doc_other">Others (if any)</label>
                    <input class="form-control" type="text" id="supporting_doc_other" name="supporting_doc_other" placeholder="Enter ..." style="width: 420px;">
                  </div>
                  <hr>
                  <div class="form-group"></div>
                  <label for="description">Description</label>
                  <textarea class="form-control" rows="6" id="description" name="description" placeholder="Enter ..." style="width: 1080px;"></textarea>
                  <label for="note" style="padding-top: 15px;">Note</label>
                  <textarea class="form-control" rows="6" id="note" name="note" placeholder="Enter ..." style="width: 1080px;"></textarea>
                  </div>
                </div>

                <!-- FORM APPROVAL & UPLOAD DOCUMENTS -->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card-header">
                      <h3 class="card-title">FORM APPROVAL</h3>
                    </div>
                    <div class="card-body">
                      <div style="margin-bottom: 10px;">
                        <button type="button" class="btn btn-default" id="add-approval" title="Add Approval">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <table class="table table-bordered" id="approval-table">
                        <thead>
                          <tr>
                            <th style="width: 10px">No</th>
                            <th style="text-align: center;">Approval</th>
                            <th style="width: 90px; text-align: center;">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1.</td>
                            <td style="width: 80%">
                              <select class="form-control select2bs4" name="approval_user_id1" id="approval1_user_id1" style="width: 100%;" required>
                                <option value="">Select Approval ...</option>
                                {% for approver in approver %}
                                <option value="{{ approver[0] }}" data-entity-id="{{ approver[1] }}">{{ approver[1] }}</option>
                                {% endfor %}
                              </select>
                            </td>
                            <td style="text-align: center;">
                              <button type="button" class="btn btn-outline-danger btn-sm delete-row" title="Delete Approval">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="card-header">
                      <h3 class="card-title">UPLOAD DOCUMENTS</h3>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                      <div style="margin-bottom: 10px;">
                        <button type="button" class="btn btn-default" id="add-upload" title="Add Upload">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <table class="table table-bordered" id="upload-table">
                        <thead>
                          <tr>
                            <th style="width: 10px">No</th>
                            <th style="text-align: center;">Upload Documents</th>
                            <th style="text-align: center;">Preview</th>
                            <th style="width: 90px; text-align: center;">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1.</td>
                            <td style="width: 80%">
                              <input type="file" name="files[]" multiple onchange="previewFiles(this)">
                            </td>
                            <td>
                              <div class="preview" style="width: 150px; text-align: center;"></div>
                            </td>
                            <td style="text-align: center;">
                              <button type="button" class="btn btn-outline-danger btn-sm delete-row" title="Delete Upload">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
                <div class="card-footer clearfix">
                  <button type="submit" class="btn btn-secondary">Submit</button>
                  <a href="{{ url_for('prf.prf_list') }}" class="btn btn-danger" title="Back">Back</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    function updateRowNumbers(tableId) {
      $(tableId + " tbody tr").each(function(index) {
        $(this).find("td:first").text((index + 1) + ".");
        $(this).find("input, select, textarea").each(function() {
          const name = $(this).attr("name");
          if (name) {
            const newName = name.replace(/\d+/, (index + 1));
            $(this).attr("name", newName);
          }
        });
      });
    }

    // Menambahkan baris baru
    $("#add-approval").click(function() {
        const rowNumber = $("#approval-table tbody tr").length + 1;
        const newRow = `
        <tr>
            <td>${rowNumber}.</td>
            <td style="width: 80%">
                <select class="form-control select2bs4" name="approval_user_id${rowNumber}" id="approval_user_id${rowNumber}" style="width: 100%;" required>
                    <option value="">Select Approval ...</option>
                    {% for approver in approver %}
                    <option value="{{ approver[0] }}" data-entity-id="{{ approver[1] }}">{{ approver[1] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td style="text-align: center;">
                <button type="button" class="btn btn-outline-danger btn-sm delete-row" title="Delete Approval">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>`;
        $("#approval-table tbody").append(newRow);
        updateRowNumbers("#approval-table");
    });

    // Mengupdate nomor baris setelah penghapusan
    function updateRowNumbers(tableId) {
        $(`${tableId} tbody tr`).each(function(index) {
            $(this).find('td:first').text((index + 1) + '.');
            $(this).find('select').attr('name', 'approval_user_id' + (index + 1));
            $(this).find('select').attr('id', 'approval_user_id' + (index + 1));
        });
    }

      $("#add-upload").click(function() {
        const rowNumber = $("#upload-table tbody tr").length + 1;
        const newRow = `
        <tr>
          <td>${rowNumber}.</td>
          <td style="width: 80%">
            <input type="file" name="files[]" multiple onchange="previewFiles(this)">
          </td>
          <td>
            <div class="preview" style="width: 150px; text-align: center;"></div>
          </td>
          <td style="text-align: center;">
            <button type="button" class="btn btn-outline-danger btn-sm delete-row" title="Delete Upload">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>`;
        $("#upload-table tbody").append(newRow);
        updateRowNumbers("#upload-table");
      });

    $(document).on("click", ".delete-row", function() {
      $(this).closest("tr").remove();
      updateRowNumbers("#approval-table");
      updateRowNumbers("#upload-table");
    });

    function updatePRFNumber() {
      const entity = $('#entity').val();
      const department = $('#department').val();
      if (entity && department) {
        $.ajax({
          url: '/generate_prf',
          method: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({ entity: entity, department: department }),
          success: function(response) {
            $('#no_prf').val(response.prf_number);
          }
        });
      }
    }

    $('#entity, #department').change(updatePRFNumber);
  });
</script>

<script>
  function previewFiles(input) {
    var previewContainer = input.parentNode.nextElementSibling.querySelector('.preview');
    previewContainer.innerHTML = ''; // Clear existing previews

    var files = input.files;

    if (files) {
      for (var i = 0; i < files.length; i++) {
        var reader = new FileReader();

        reader.onload = function (e) {
          var img = document.createElement('img');
          img.src = e.target.result;
          img.alt = 'File Preview';
          img.classList.add('img-fluid');
          img.style.maxHeight = '100px';
          previewContainer.appendChild(img);
        };

        reader.readAsDataURL(files[i]);
      }
    }
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          toastr.{{ category }}("{{ message | safe }}");
        {% endfor %}
      {% endif %}
    {% endwith %}
  });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#vendor_name').on('change', function() {
            // Ambil data dari option yang dipilih
            var beneficiaryName = $(this).find(':selected').data('beneficiary-name');
            var bankName = $(this).find(':selected').data('bank');
            var bankNumberAccount = $(this).find(':selected').data('no-rekening');

            // Isi input berdasarkan data yang diambil
            $('#beneficiary_name').val(beneficiaryName);
            $('#beneficiary_bank_name').val(bankName);
            $('#beneficiary_bank_number_account').val(bankNumberAccount);
        });
    });
</script>

<!-- <script>
  document.getElementById('currency').addEventListener('change', function() {
      var currency = this.value;
      var amountInput = document.getElementById('amount');
  
      amountInput.value = ''; // Reset amount value
  
      amountInput.addEventListener('input', function() {
          var value = parseFloat(amountInput.value.replace(/[^0-9.-]+/g, '')) || 0;
  
          if (currency === 'IDR') {
              amountInput.value = new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(value);
          } else if (currency === 'USD') {
              amountInput.value = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(value);
          } else if (currency === 'CNY') { // Assuming Yuan is represented as CNY
              amountInput.value = new Intl.NumberFormat('zh-CN', { style: 'currency', currency: 'CNY' }).format(value);
          } else {
              amountInput.value = value; // Default to plain number if no match
          }
      });
  });
  </script> -->
  
{% endblock %}
<!-- END INHERETENCE CONTENT -->