{% extends 'base.html' %}

<!-- INHERETENCE SIDEBAR -->

<!--END INHERETENCE SIDEBAR -->

<!-- INHERETENCE CONTENT -->
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Purchase Requisition</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">PR Input</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


 <!-- Main content -->
 <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements disabled -->
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">PR Input</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Nomor PR</label>
                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                    <div class="form-group">
                        <label>Nama User</label>
                        <input type="text" class="form-control" placeholder="Enter ...">
                      </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                        <label>Tanggal Permintaan:</label>
                          <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                              <input type="text" class="form-control datetimepicker-input" data-target="#reservationdatetime"/>
                              <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                        <label>Nama Project</label>
                        <input type="text" class="form-control" placeholder="Enter ...">
                      </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Nama Entity</label>
                        <input type="text" class="form-control" placeholder="Enter ...">
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Total Budget Approved</label>
                            <input type="number" class="form-control" placeholder="Rp ...">
                          </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- textarea -->
                    <div class="form-group">
                        <label>Nama Barang</label>
                        <input type="text" class="form-control" placeholder="Enter ...">
                      </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                        <label>QTY</label>
                        <input type="number" class="form-control" placeholder="Enter ...">
                      </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                          <label>Spesifikasi Barang dan Jasa</label>
                          <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- textarea -->
                      <div class="form-group">
                          <label>Nama Barang</label>
                          <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Tanggal Dibutuhkan:</label>
                              <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                                  <input type="text" class="form-control datetimepicker-input" data-target="#reservationdatetime"/>
                                  <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
                                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                  </div>
                              </div>
                          </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <!-- textarea -->
                      <div class="form-group">
                          <label>Dibuat Oleh</label>
                          <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                          <!-- textarea -->
                          <div class="form-group">
                              <label>Disetujui Oleh: 1</label>
                              <input type="text" class="form-control" placeholder="First Approval ...">
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <!-- textarea -->
                            <div class="form-group">
                                <label>2:</label>
                                <input type="text" class="form-control" placeholder="Second Approval ...">
                              </div>
                            </div>
                            <div class="col-sm-3">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>3:</label>
                                    <input type="text" class="form-control" placeholder="Third Approval ...">
                                  </div>
                                </div>
                                <div class="col-sm-3">
                                    <!-- textarea -->
                                    <div class="form-group">
                                        <label>4:</label>
                                        <input type="text" class="form-control" placeholder="Forth Approval ...">
                                      </div>
                                    </div>
                        </div>
                
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
          <!-- general form elements disabled -->
          
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

{% endblock %}
<!-- END INHERETENCE CONTENT -->