{% extends 'base.html' %}

<!-- INHERETENCE SIDEBAR -->

<!--END INHERETENCE SIDEBAR -->

<!-- INHERETENCE CONTENT -->
{% block content %}

<!-- SCRIPT UNTUK COMA PADA NUMBER -->
<script>
  function formatNumber(num) {
      return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  document.addEventListener('DOMContentLoaded', (event) => {
      const input = document.getElementById('total_budget_approved');

      input.addEventListener('input', (e) => {
          let value = input.value.replace(/,/g, '');
          if (!isNaN(value) && value !== '') {
              input.value = formatNumber(value);
          }
      });

      const form = document.querySelector('form');
      form.addEventListener('submit', (e) => {
          let value = input.value.replace(/,/g, '');
          input.value = value;
      });
  });
</script>
<!-- END SCRIPT UNTUK COMA PADA NUMBER -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Purchase Requisition Edit Form</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">PR Edit</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

<!-- Main FORM PR HEADER and PR DETAIL -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">PR EDIT</h3>
          </div>
          <div class="card-body">
            <form action="{{ url_for('pr.pr_edit', no_pr=pr_header[0]) }}" method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="no_pr">Nomor PR</label>
                    <input type="text" name="no_pr" id="no_pr" value="{{ pr_header[0] }}" class="form-control" disabled>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="no_pr">Date</label>
                    <input type="text" name="tanggal_permintaan" id="tanggal_permintaan" value="{{ pr_header[1] }}" class="form-control" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="nama_project">Nama Project</label>
                    <input class="form-control" type="text" id="nama_project" name="nama_project" value="{{ pr_header[5] }}" required>
                  </div>
                  <div class="form-group">
                    <label for="total_budget_approved">Total Budget Approved</label>
                    <input class="form-control" type="text" id="total_budget_approved" name="total_budget_approved" value="{{ pr_header[6] }}" required>
                  </div>
                </div>
              </div>

              <!-- FORM PR DETAIL -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">PR DETAIL INPUT</h3>
                </div>
                <div class="card-body">
                  <div style="margin-bottom: 10px;">
                    <button type="button" class="btn btn-default" id="add-row" title="Add New Form">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <table class="table table-bordered" id="pr-detail-table">
                    <thead>
                      <tr>
                        <th style="width: 10px">No</th>
                        <th style="text-align: center;">Nama Barang / Jasa</th>
                        <th style="text-align: center;">Spesifikasi Barang / Jasa (ukuran, merk, type, bahan)</th>
                        <th style="text-align: center;">QTY</th>
                        <th style="text-align: center;">Date Required</th>
                        <th style="width: 90px; text-align: center;">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for detail in pr_detail %}
                      <tr data-index="{{ detail[1] }}">
                          <td>{{ detail[1] }}</td>
                          <td style="width: 300px">
                              <input class="form-control" type="text" name="nama_item{{ detail[1] }}" value="{{ detail[2] }}" placeholder="Enter ..." required>
                          </td>
                          <td>
                              <textarea class="form-control" rows="5" name="spesifikasi{{ detail[1] }}" placeholder="Enter ...">{{ detail[3] }}</textarea>
                          </td>
                          <td style="width: 120px">
                              <input class="form-control" type="number" name="qty{{ detail[1] }}" value="{{ detail[4] }}" required placeholder="Enter ...">
                          </td>
                          <td style="width: 220px">
                              <div class="input-group date" data-target-input="nearest">
                                  <input type="date" name="tanggal{{ detail[1] }}" value="{{ detail[5] }}" class="form-control" />
                                  <div class="input-group-append" data-target="#reservationdate" data-toggle="">
                                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                  </div>
                              </div>
                          </td>
                          <td style="text-align: center;">
                              <button type="button" class="btn btn-outline-danger btn-sm delete-row" title="Delete PR">
                                  <i class="fa fa-trash"></i>
                              </button>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
                  
                  </table>
                </div>

                <!-- FORM APPROVAL & UPLOAD DOCUMENTS -->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card-header">
                      <h3 class="card-title">FORM APPROVAL</h3>
                    </div>
                    <div class="card-body">
                      <div style="margin-bottom: 10px;">
                        <button type="button" class="btn btn-default" id="add-approval" title="Add Approval">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <table class="table table-bordered" id="approval-table">
                        <thead>
                          <tr>
                            <th style="width: 10px">No</th>
                            <th style="text-align: center;">Approval</th>
                            <th style="width: 90px; text-align: center;">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for approval_list in pr_approval %}
                          <tr data-index="{{ loop.index }}">
                            <td>{{ loop.index }}</td>
                            <td style="width: 80%">
                              <select class="form-control select2bs4" name="approval{{ loop.index }}_user_id" id="approval{{ loop.index }}_user_id" style="width: 100%;" required>
                                <option value="{{ approval_list[2] }}">{{ approval_list[3] }}</option>
                                {% for approver in approver %}
                                <option value="{{ approver[0] }}">{{ approver[1] }}</option>
                                {% endfor %}
                              </select>
                            </td>
                            <td style="text-align: center;">
                              <button type="button" class="btn btn-outline-danger btn-sm delete-row" title="Delete Approval">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="card-header">
                      <h3 class="card-title">UPLOAD DOCUMENTS</h3>
                    </div>
                    <div class="card-body">
                      <div style="margin-bottom: 10px;">
                        <button type="button" class="btn btn-default" id="add-upload" title="Add Upload">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <table class="table table-bordered" id="upload-table">
                        <thead>
                          <tr>
                            <th style="width: 10px">No</th>
                            <th style="text-align: center;">Upload Documents</th>
                            <th style="text-align: center;">Preview</th>
                            <th style="width: 90px; text-align: center;">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for idx, document in enumerate(pr_documents) %}
                            <tr>
                            <td>{{ idx + 1 }}.</td>
                            <td style="width: 80%">
                                <input type="file" name="files[]" data-file-id="{{ document[0] }}" onchange="previewFiles(this)">
                            </td>
                            <td>
                                <div class="preview" style="width: 150px; text-align: center;">
                                <a href="{{ url_for('static', filename=document[3]) }}" target="_blank">{{ document[2] }}</a>
                                </div>
                            </td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-outline-danger btn-sm delete-row" title="Delete Upload" data-file-id="{{ document[0] }}">
                                <i class="fa fa-trash"></i>
                                </button>
                            </td>
                            </tr>
                            {% endfor %}
                      </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="card-footer clearfix">
                  <button type="submit" class="btn btn-secondary">Save</button>
                  <a href="{{ url_for('pr.pr_list') }}" class="btn btn-danger" title="Detail">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  
  $(document).ready(function() {
    function updateRowNumbers(tableId) {
        $(tableId + " tbody tr").each(function(index) {
            $(this).attr("data-index", index + 1);
            $(this).find("td:first").text((index + 1) + ".");
            $(this).find("input, select, textarea").each(function() {
                const name = $(this).attr("name");
                if (name) {
                    const newName = name.replace(/\d+/, (index + 1));
                    $(this).attr("name", newName);
                }
            });
        });
    }

    $("#add-row").click(function() {
        let rowNumber = $("#pr-detail-table tbody tr").length + 1;
        let newRow = `
        <tr data-index="${rowNumber}">
            <td>${rowNumber}.</td>
            <td style="width: 300px"><input class="form-control" type="text" name="nama_item${rowNumber}" required placeholder="Enter ..."></td>
            <td><textarea class="form-control" rows="3" name="spesifikasi${rowNumber}" placeholder="Enter ..."></textarea></td>
            <td style="width: 120px"><input class="form-control" type="number" name="qty${rowNumber}" required placeholder="Enter ..."></td>
            <td style="width: 220px">
                <div class="input-group date" data-target-input="nearest">
                    <input type="date" name="tanggal${rowNumber}" class="form-control" />
                    <div class="input-group-append" data-target="#reservationdate${rowNumber}" data-toggle="">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </td>
            <td style="text-align: center;">
                <button type="button" class="btn btn-outline-danger btn-sm delete-row" title="Delete PR">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>`;
        $("#pr-detail-table tbody").append(newRow);
        updateRowNumbers("#pr-detail-table");
    });

    $("#add-approval").click(function() {
      let rowNumber = $("#approval-table tbody tr").length + 1;
      let newRow = `
      <tr data-index="${rowNumber}">
        <td>${rowNumber}.</td>
        <td style="width: 80%">
          <select class="form-control select2bs4" name="approval${rowNumber}_user_id" id="approval${rowNumber}_user_id" style="width: 100%;" required>
            <option value="">Select Approval ...</option>
            {% for approver in approver %}
            <option value="{{ approver[0] }}" data-entity-id="{{ approver[1] }}">{{ approver[1] }}</option>
            {% endfor %}
          </select>
        </td>
        <td style="text-align: center;">
          <button type="button" class="btn btn-outline-danger btn-sm delete-row" title="Delete Approval">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>`;
      $("#approval-table tbody").append(newRow);
      updateRowNumbers("#approval-table");
    });

    $(document).on("click", ".delete-row", function() {
        $(this).closest("tr").remove();
        updateRowNumbers("#pr-detail-table");
        updateRowNumbers("#approval-table");
    });
});

$("#add-upload").click(function() {
  const rowNumber = $("#upload-table tbody tr").length + 1;
  const newRow = `
  <tr>
    <td>${rowNumber}.</td>
    <td style="width: 80%">
      <input type="file" name="files[]" multiple onchange="previewFiles(this)">
    </td>
    <td>
      <div class="preview" style="width: 150px; text-align: center;"></div>
    </td>
    <td style="text-align: center;">
      <button type="button" class="btn btn-outline-danger btn-sm delete-row" title="Delete Upload">
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>`;
  $("#upload-table tbody").append(newRow);
  updateRowNumbers("#upload-table");
});

$(document).on("click", ".delete-row", function() {
  const fileId = $(this).data('file-id');
  if (fileId) {
    const deletedFilesInput = $("<input>").attr("type", "hidden").attr("name", "deleted_files[]").val(fileId);
    $("form").append(deletedFilesInput);
  }
  $(this).closest("tr").remove();
  updateRowNumbers("#upload-table");
});

$(document).on("change", "input[type='file']", function() {
  const fileId = $(this).data('file-id');
  if (fileId) {
    $(this).attr('name', `existing_files[${fileId}]`);
  }
  previewFiles(this);
});

// END PR DETAIL JSKRIP

</script>

<script>
  function previewFiles(input) {
    var previewContainer = input.parentNode.nextElementSibling.querySelector('.preview');
    previewContainer.innerHTML = ''; // Clear existing previews

    var files = input.files;

    if (files) {
      for (var i = 0; i < files.length; i++) {
        var reader = new FileReader();

        reader.onload = function (e) {
          var img = document.createElement('img');
          img.src = e.target.result;
          img.alt = 'File Preview';
          img.classList.add('img-fluid');
          img.style.maxHeight = '100px';
          previewContainer.appendChild(img);
        };

        reader.readAsDataURL(files[i]);
      }
    }
  }
</script>


  
{% endblock %}
<!-- END INHERETENCE CONTENT -->