{% extends 'base.html' %}

{% block title %}List of Users{% endblock %}

{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>User account</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Register User</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

<!-- Main FORM PR HEADER and PR DETAIL -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">PR INPUT</h3>
            </div>
            
  
                  <!-- FORM APPROVAL & UPLOAD DOCUMENTS -->
                  <div class="row">
                    <div class="col-sm-3">
                    <form action="{{ url_for('user.user_change_password', id=user[0]) }}" method="POST">
                        <input type="hidden" name="user_id" value="{{ user[0] }}">
                      <div class="card-body">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" value="{{ user[1] }}" required>
                          </div>
                          <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ user[2] }}" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Current Password</label>
                            <input type="password" class="form-control" id="current_password" name="current_password" required>
                        </div>
                        <div class="form-group">
                            <label for="new_password">New Password</label>
                            <input type="password" class="form-control" id="new_password" name="new_password">
                            <!-- <small class="form-text text-muted" style="color: red;">Leave blank if you don't want to change the password</small> -->
                            <small style="color: red;">Leave blank if you don't want to change the password</small>
                        </div>
                        <div class="form-group">
                            <p><strong>Upload your signature</strong></p>
                            <input type="file" id="signature" name="signature">
                        </div>
                      </div>
                    </div>
  
                    <div class="col-sm-6">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample">
                                    <p><strong>Your signature:</strong></p>
                                    <a href="https://via.placeholder.com/1200/000000.png?text=2" data-toggle="lightbox" data-title="sample 2 - black">
                                    <img src="{{ url_for('static', filename='uploads/rohman_sign.png') }}" class="img-fluid mb-2" alt="black sample" />
                                    </a>
                                </div>
                              </div>
                          </div>
                    </div>
                  </div>
                  <div class="card-footer clearfix">
                    <button type="submit" class="btn btn-dark">Submit</button>
                    <a href="{{ url_for('user.user_list') }}" class="btn btn-danger" title="Back">Cancel</a>
                  </div>
                </form>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- /.content-wrapper -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    toastr.{{ category }}("{{ message | safe }}");
                {% endfor %}
            {% endif %}
        {% endwith %}
    });
</script>
  {% endblock %}