{% extends 'base.html' %}

{% block sidebar %}
<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <li class="nav-item menu-open">
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="{{ url_for('index') }}" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>Home</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Forms
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/forms/general.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>General Elements</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/forms/advanced.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Advanced Elements</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/forms/editors.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Editors</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/forms/validation.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Validation</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">ADMIN MENU</li>
        <li class="nav-item">
          <a href="pages/calendar.html" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Calendar
              <span class="badge badge-info right">2</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('user_list')}}" class="nav-link active">
            <i class="nav-icon far fa-user"></i>
            <p>
              Users
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/kanban.html" class="nav-link">
            <i class="nav-icon fas fa-columns"></i>
            <p>
              Kanban Board
            </p>
          </a>
        </li>
        <li class="nav-header">OFFICER MENU</li>
        <li class="nav-item">
          <a href="pages/calendar.html" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Calendar
              <span class="badge badge-info right">2</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/gallery.html" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>
              Users
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/kanban.html" class="nav-link">
            <i class="nav-icon fas fa-columns"></i>
            <p>
              Kanban Board
            </p>
          </a>
        </li>
      </ul>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>User Management</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Edit User</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- LEFT COLUMN -->
        <div class="col-md-6">
          <!-- Admin Edit User card -->
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Admin Edit User</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="{{ url_for('user.user_edit', user_id=user.id) }}" method="POST">
              <div class="card-body">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input class="form-control" type="text" id="username" name="username" value="{{ user.username }}" required readonly>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input class="form-control" type="email" id="email" name="email" value="{{ user.email }}" required readonly>
                </div>
                <div class="form-group">
                <label for="level">Change Role</label>
                <select class="form-control" id="level" name="level" required>
                    <option selected></option>
                    <option value="admin" {% if user.level == 'admin' %}selected{% endif %}>Admin</option>
                    <option value="officer" {% if user.level == 'officer' %}selected{% endif %}>Officer</option>
                </select>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-secondary">Submit</button>
                <a class="btn btn-secondary" href="{{ url_for('user.user_list') }}" role="button">Back</a>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (left) -->

        <!-- RIGHT COLUMN -->
        <div class="col-md-6">
          <!-- About User card -->
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">About User</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <strong><i class="fas fa-user"></i> Full Name</strong>
              <p class="text-muted">
                {{ user.username }}
              </p>
              <hr>
              <strong><i class="fas fa-map-marker-alt mr-1"></i> Email</strong>
              <p class="text-muted">{{ user.email }}</p>
              <hr>
              <strong><i class="fas fa-pencil-alt mr-1"></i> Role</strong>
              <p class="text-muted">
                <p class="text-muted">{{ user.level }}</p>
              </p>
              <hr>
              <strong><i class="far fa-file-alt mr-1"></i> Menu Access</strong>
              <p class="text-muted">{{ user.menu }}</p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
  document.addEventListener('DOMContentLoaded', function() {
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          toastr.{{ category }}("{{ message | safe }}");
        {% endfor %}
      {% endif %}
    {% endwith %}
  });
</script>
{% endblock %}
